.about {
  position: relative;
  z-index: 5;
  width: 871px;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 720px;
  }

  h2,
  p {
    margin: 0;
    color: $main-white;
    text-align: center;
  }

  h2 {
    @include font($montserrat, 30px, 37px, 800, normal);
    padding-bottom: 43px;

    @media (max-width: $tablet-width) {
      padding-bottom: 35px;
      @include resize-txt(22px, 27px);
    }
  }

  p {
    @include font($montserrat, 16px, 20px, 400, normal);

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 19px);
    }
  }
}

.about__features-list {
  @include reset-list;
  display: flex;
  flex-flow: row wrap;
  width: 594px;
  margin: 83px auto 24px;

  @media (max-width: $tablet-width) {
    margin-top: 79px;
    width: 433px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 309px;
    margin-top: 64px;
  }
}

.about__features-item {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 141px;
  min-height: 151px;
  padding: 0 3px;

  margin-right: 85px;
  margin-bottom: 57px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 3px;
    padding: 0 10px;
  }

  @media (max-width: $mobile-width) {
    width: 95px;
    min-height: 69px;
    margin-bottom: 54px;
    margin-right: auto;
    padding: 0;
  }

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  svg {
    fill: none;
    margin-bottom: 13px;

    @media (max-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      width: 50px;
      height: 50px;
      margin-bottom: 6px;
    }
  }

  p {
    @include font($montserrat, 16px, 20px, 500, normal);
    color: $vivid-yellow;

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 17px);
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(11px, 13px);
    }
  }
}
