.button {
  @include flex-center;
  @include font($montserrat, 16px, 20px, 600, normal);
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0;
  width: 333px;
  min-height: 71px;
  background-color: $vivid-yellow;
  color: $mostly-black;
  border-radius: $btn-radius;
  margin-top: 83px;

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    background-color: $hover-btn;
  }

  &--burger {
    display: none;
  }

  &--services {
    margin: 0;
    margin-left: 17px;
  }

  &--team {
    margin-top: 58px;
  }

  &--back {
    position: absolute;
    background-color: transparent;
    border: 0.5px solid $main-white;
    width: 52px;
    min-height: 52px;
    border-radius: 50%;
    margin: 0;
    left: -2px;
    top: -11px;

    &::after {
      position: absolute;
      left: 65px;
      content: "Назад";
      color: $main-white;
      @include font($montserrat, 13px, 16px, 300, normal)
    }

    &::before {
      content: "";
      position: absolute;
      top: 25.3px;
      right: 10px;
      width: 29px;
      height: 1px;
      background-color: $main-white;
      display: block;
    }

    span::after,
    span::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 1px;
      right: 35px;
      background-color: $main-white;
    }

    span::after {
      top: 24px;
      transform: rotate(135deg);
    }

    span::before {
      top: 27px;
      transform: rotate(-135deg);
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: $main-white;

      span::after,
      span::before,
      &::before {
        transition: $trans--300;
        background-color: $mostly-black;
      }
    }
  }

  &--more {
    @include font($montserrat, 16px, 20px, 500, normal);
    background-color: transparent;
    border: 1px solid $btn-more;
    color: $btn-more;
    width: 278px;
    min-height: 55px;
    border-radius: $btn-more-radius;
    margin-top: auto;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: $btn-more;
      color: $mostly-black;
    }
  }

  &--close {
    position: absolute;
    width: 50px;
    min-height: 50px;
    background-color: transparent;
    margin: 0;
    left: 94%;
    top: 1%;

    &::after,
    &::before {
      position: absolute;
      content: "";
      background-color: $main-white;
      width: 18px;
      height: 2px;
      z-index: 2;
      top: 23px;
      right: 15px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus-visible {
      background-color: transparent;
    }
  }

  &--schedule {
    background-color: transparent;
    border: 3px solid $vivid-yellow;
    color: $vivid-yellow;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 29px;
    width: 100%;
    padding: 0 10px;
    text-align: center;

    &:hover,
    &:focus-visible {
      border-color: $hover-btn;
      color: $footer-bcg;
    }
  }

  &--buy {
    @include font($montserrat, 16px, 20px, 500, normal);
    border-radius: $btn-more-radius;
    background-color: transparent;
    color: $vivid-yellow;
    border: 1px solid $vivid-yellow;
    width: 185px;
    min-height: 55px;
    margin: 0;
    margin-top: auto;

    &:hover,
    &:focus-visible {
      border-color: $hover-btn;
      color: $footer-bcg;
    }
  }

  &--promo {
    @include font($montserrat, 20px, 24px, 400, normal);
    border: none;
    color: $vivid-yellow;
    border-bottom: 1px solid $vivid-yellow;
    border-radius: 0;
    background-color: transparent;
    margin-top: auto;
    width: auto;
    min-height: auto;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: transparent;
      color: $hover-btn;
      border-bottom: 1px solid transparent;
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    margin-top: 38px;
    width: 319px;
    min-height: 60px;
    @include resize-txt(14px, 17px);

    &--schedule {
      margin: 0 auto 30px;
    }

    &--promo {
      width: auto;
      min-height: auto;
      margin-top: auto;
    }

    &--buy {
      width: 207px;
      min-height: 45px;
      margin: auto 0 0;
    }

    &--services {
      margin-top: 0;
    }

    &--team {
      margin: 55px auto 0;
    }

    &--more {
      width: 121px;
      min-height: 38px;
      margin-top: auto;
    }

    &--close {
      // animation: bounce .6s;
      z-index: 40;
      width: 50px;
      min-height: 50px;
      left: 93%;
      margin: 0;
    }

    &--back {
      width: 52px;
      min-height: 52px;
      margin: 0;

      &::after {
        content: "";
      }

      &::before {
        top: 25.4px;
      }
    }

    &--burger {
      display: block;
      position: absolute;
      background-color: transparent;
      margin: 0;
      width: 52px;
      min-height: 27px;
      top: 17px;
      right: 33px;

      &::after,
      & span::after,
      & span::before {
        position: absolute;
        content: "";
        height: 7px;
        width: 100%;
        background-color: $main-white;
        left: 0;
        top: 20px;
      }

      & span::after {
        top: 10px;
      }

      & span::before {
        top: 1px;
      }

      &:hover,
      &:focus-visible {
        background-color: transparent;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .button {
    width: 100%;
    max-width: 353px;
    min-height: 60px;
    margin-top: 19px;

    &--more {
      width: 121px;
      min-height: 38px;
      margin-top: auto;
    }

    &--promo {
      width: auto;
      min-height: auto;
      margin-top: auto;
    }

    &--buy {
      width: 207px;
      min-height: 45px;
      margin: auto 0 0;
    }

    &--back {
      display: none;
      width: 40px;
      min-height: 40px;
      margin: 0;

      &::before {
        top: 50%;
        left: 8px;
        width: 23px;
      }

      & span::after,
      & span::before {
        right: 26px;
      }

      & span::after {
        top: 18px;
      }

      & span::before {
        top: 21px;
      }
    }

    &--team {
      margin-top: 30px;
    }

    &--services {
      margin: 31px auto 0;
    }

    &--close {
      width: 50px;
      min-height: 50px;
      margin: 0;
      left: calc(100% - 50px);
    }

    &--burger {
      width: 33px;
      min-height: 20px;
      top: 16px;
      right: 12px;
      margin-top: 0;

      &::after,
      & span::after,
      & span::before {
        height: 4.5px;
      }

      &::after {
        top: 15px;
      }

      & span::after {
        top: 8px;
      }
    }
  }
}
