.grid {

  h2 {
    width: 100%;
    max-width: 347px;
    margin: 0 auto;
    @include font($montserrat, 20px, 25px, 800, normal);
    color: $vivid-yellow;
    padding-bottom: 25px;
    text-align: center;

    @media (max-width: $mobile-width) {
      @include resize-txt(18px, 22px);
    }
  }
}

.grid__wrapper {
  margin-bottom: 75px;

  @media (max-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }

  &--massage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 26px;

    .grid__list {
      grid-template-columns: 1fr;
    }

    @media (max-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 15px;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
    }
  }
}

.grid__wrapper-item {
  width: 100%;

  h2 {
    width: max-content;
  }
}

.grid__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 26px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 15px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.grid__item {
  position: relative;
  background-color: $footer-bcg;
  width: 100%;
  min-height: 194px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 19px 15px 25px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 184px;
  }

  @media (max-width: $mobile-width) {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    min-height: 139px;
  }

  &--sauna {
    justify-content: center;
    padding: 19px 37px 25px;
  }

  &--solarium {
    min-height: 110px;
    justify-content: center;
  }

  &--aqua {
    justify-content: center;
    padding: 0 30px;
  }

  &--other {
    padding-top: 39px;

    @media (max-width: $mobile-width) {
      padding-top: 19px;
    }
  }

  &--offer::after {
    position: absolute;
    content: url("../img/icon/offer.svg");
    bottom: -18px;
    right: -14px;
    width: 89px;
    height: 89px;

    @media (max-width: $tablet-width) {
      content: url("../img/icon/offer-small.svg");
      right: -18px;
      width: 67px;
      height: 67px;
      right: 0;
      bottom: 0;
    }
  }

  p {
    margin: 0;
    @include font($montserrat, 16px, 20px, 400, normal);
    color: $main-white;
    text-align: center;
  }

  a {
    @include font($montserrat, 16px, 20px, 600, normal);
    color: $vivid-yellow;
  }

  p,
  a {

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 17px);
    }
  }
}

.grid__item-tel {
  padding-top: 24px;

  &:last-child {
    padding-top: 20px;
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    color: $main-white;
  }
}

.grid__item-detail {
  padding-top: 29px;

  a {
    @include font($montserrat, 16px, 20px, 400, normal);
    color: $main-white;
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      color: $vivid-yellow;
      text-decoration: none;
    }
  }
}
