.intro {
  position: relative;
  height: 802px;

  &::after {
    content: url("../img/overlay-bcg.png");
    position: absolute;
    z-index: 2;
    right: -151px;
    top: 270px;
  }
}

.intro__wrapper {
  margin-top: 88px;
}

.intro__desc,
.intro__offer {
  color: $main-white;
  margin: 0;
}

.intro__desc {
  @include font($montserrat, 20px, 24px, 400, normal);
  padding-top: 10px;
}

.intro__offer {
  @include font($montserrat, 36px, 44px, 700, normal);
  padding-top: 68px;
}

.intro__content {
  width: 570px;
  position: relative;
  z-index: 12;
}

.intro__img {
  position: absolute;
  top: -557px;
  right: -491px;
  z-index: -1;
}

.intro__list {
  display: flex;
  @include reset-list;
  margin-top: 23px;
}

.intro__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 36px;
  }

  a {
    @include font($noto, 12px, 16px, 400, normal);
    color: $main-white;
    margin: 0;
    padding-left: 3px;
    cursor: pointer;
  }

  &:hover a,
  &:focus-visible a {
    transition: $trans--300;
    color: $vivid-yellow;
  }
}
