.main {
  flex: 1 0 auto;
  overflow: hidden;
  transition: $trans--300;
}

.main__wrapper {
  margin-top: 31px;
  position: relative;
  width: 100%;
  margin-bottom: 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }

  a {
    color: $main-white;
    @include font($montserrat, 13px, 16px, 300, normal);
  }

  h1,
  p {
    width: 100%;
    max-width: 606px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $mobile-width) {
      text-align: left;
    }
  }

  h1 {
    @include font($montserrat, 30px, 37px, 800, normal);
    color: $vivid-yellow;
    padding-bottom: 17px;

    @media (max-width: $tablet-width) {
      @include resize-txt(22px, 27px);
    }
  }

  p {
    @include font($montserrat, 16px, 20px, 400, normal);
    color: $main-white;
    padding-bottom: 20px;

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 17px);
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 19px);
      letter-spacing: -0.1px;
    }

    a {
      @include font($montserrat, 16px, 20px, 400, normal);
      color: $vivid-yellow;

      @media (max-width: $tablet-width) {
        @include resize-txt(14px, 17px);
      }

      &:hover,
      &:focus-visible {
        transition: $trans--300;
        color: $main-white;
      }
    }
  }
}
