.overlay {
  position: fixed;
  animation: bounce .6s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($main-black, 0.35);
  z-index: 34;

  &--hidden {
    display: none;
  }
}
