.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #242222;
  overflow-x: hidden;

  &::before {
    content: url("../img/overlay-bcg.png");
    position: absolute;
    z-index: 2;
    right: calc((100% - 1294px)/2);
    top: 426px;

    @media (min-width: $desktop-width) and (max-width: 1140px) {
      right: 0;
    }

    @media (max-width: $tablet-width) {
      right: -278px;
      top: 123px;
    }

    @media (max-width: $mobile-width) {
      right: -793px;
      top: -921px;
    }
  }
}
