.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow-x: hidden;
  width: 100vw;
  background-color: #242222;

  // &::after {
  //   content: url("../img/overlay-bcg.png");
  //   position: absolute;
  //   z-index: 2;
  //   right: -593px;
  //   top: -172px;

  //   @media (max-width: $tablet-width) {
  //     right: -849px;
  //     top: -390px;
  //   }

  //   @media (max-width: $mobile-width) {
  //     right: -793px;
  //     top: -921px;
  //   }
  // }
}
