.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #242222;
  overflow-x: hidden;

  &--index {

    &::before {
      content: url("../img/overlay-bcg.svg");
      position: absolute;
      z-index: 2;
      top: 426px;

      @media (min-width: 1300px) {
        right: calc((100% - 1294px) / 2);
      }

      @media (min-width: $desktop-width) and (max-width: 1299px) {
        right: 0;
      }

      @media (max-width: $tablet-width) {
        content: url("../img/overlay-bcg-tab.svg");
        right: 0;
        top: 336px;
      }

      @media (max-width: $mobile-width) {
        content: url("../img/overlay-bcg-mobile.svg");
        top: 235px;
      }

      @media (min-width: 375px) and (max-width: $mobile-width) {
        right: calc((100% - 380px) / 2);
      }

      @media (min-width: $min-width) and (max-width: 375px) {
        content: url("../img/overlay-bcg-mobile.png");
      }
    }
  }
}
