.schedule {
  width: calc(100% - 48px);
  max-width: 1065px;
  margin: 0 auto;
  min-height: auto;
  max-height: 366px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 44px 69px;

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  h2 {
    @include font($montserrat, 20px, 24px, 800, normal);
    color: $main-white;
    margin: 0;
    text-align: center;
    letter-spacing: 1.5px;
    padding-bottom: 42px;
  }
}

.schedule__wrapper {
  max-width: 380px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.schedule__container {
  width: 810px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: calc(100% - 48px);
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 24px);
  }
}

.schedule__inner {
  margin-bottom: 100px;
}

.schedule__list {
  @include reset-list;
  margin-bottom: 15px;
}

.schedule__title,
.schedule__item {
  min-height: 66px;
  background-color: $footer-bcg;
  margin-bottom: 15px;
}

.schedule__title {
  position: relative;
  cursor: pointer;
  @include flex-center;

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
    padding: 0 11px;
  }

  svg {
    transition: $trans--300;
    position: absolute;
    right: 30px;
    top: 25px;

    @media (max-width: $mobile-width) {
      right: 7px;
    }
  }

  h2 {
    @include font($montserrat, 16px, 20px, 800, normal);
    color: $vivid-yellow;

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 17px);
    }
  }
}

.schedule__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 19px 20px 29px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 10px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (max-width: $mobile-width) {
      margin-bottom: 25px;
    }
  }

  p,
  time {
    @include font($montserrat, 16px, 20px, 700, normal);
    margin: 0;
    color: $main-white;

    @media (max-width: $tablet-width) {
      @include resize-txt(14px, 17px);
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 8px;
    }
  }

  p:first-child {
    width: 320px;

    @media (max-width: $tablet-width) {
      width: 235px;
    }
  }

  p:last-child {
    width: 171px;
    font-weight: 400;
    margin-left: auto;

    @media (max-width: $tablet-width) {
      width: 200px;
      text-align: right;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(11px, 13px);
      padding-bottom: 0;
      margin: 0;
      text-align: left;
    }

    &.schedule__item-coach {
      text-align: right;

      @media (max-width: $tablet-width) {
        width: 93px;
      }

      @media (max-width: $mobile-width) {
        width: max-content;
        text-align: left;
      }
    }
  }

  time {
    width: 110px;
    text-align: center;

    @media (max-width: $tablet-width) {
      margin: 0 auto;
    }

    @media (max-width: $mobile-width) {
      margin: 0;
      text-align: left;
    }
  }

  .schedule__item-gym {
    font-weight: 400;
    width: 160px;
    text-align: center;

    @media (max-width: $tablet-width) {
      width: 110px;
    }

    @media (max-width: $mobile-width) {
      text-align: left;
    }
  }
}

.schedule__title + .schedule__list {
  display: none;
}

.schedule__title--show {

  svg {
    transition: $trans--300;
    right: 34px;
    top: 17px;
    transform: rotate(180deg);

    @media (max-width: $mobile-width) {
      right: 7px;
    }
  }

  & + .schedule__list {
    transition: $trans--300;
    display: block;
  }
}

.schedule__title--nojs {

  svg {
    display: none;
  }

  & + .schedule__list {
    display: block;
  }
}
