.team {
  display: flex;
  position: relative;
  height: 933px;
  // overflow-x: clip;

  @media (max-width:$tablet-width) {
    height: 1061px;
  }


  @media (max-width: $mobile-width) {
    height: 908px;
    overflow: hidden;
  }

  &::after {
    content: url("../img/overlay-bcg.png");
    position: absolute;
    bottom: -174px;
    right: -150px;

    @media (max-width: $tablet-width) {
      content: url("../img/overlay-bcg-tab.png");
      bottom: calc(100% - 721px);
      right: 0;
    }

    @media (max-width: $mobile-width) {
      content: url("../img/overlay-bcg-mob.png");
      bottom: calc(100% - 1055px);
      right: calc((100vw - 381px) / 2);
    }
  }
}

.team__about {
  width: calc(100% - 567px);
  margin: 202px 0 30px 71px;
  position: relative;
  z-index: 10;

  @media (max-width: $tablet-width) {
    width: 720px;
    text-align: center;
    margin: 614px auto 99px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 419px;
    // margin-top: 203px;
    // height: 621px;
    // background-color: #242222;
    // padding-top: 215px;
    // clip-path: polygon(75% 11%, 100% 0, 100% 100%, 0 100%, 0 68%, 0 28%, 20% 27%, 40% 23%, 58% 18%);
    // background-image: url("../img/overlay-bcg-test.png");
  }

  h2,
  p {
    margin: 0;
    color: $main-white;
    letter-spacing: 1.5px;
  }

  h2 {
    @include font($montserrat, 30px, 37px, 800, normal);
    padding-bottom: 50px;

    @media (max-width: $tablet-width) {
      @include resize-txt(22px, 27px);
      padding-bottom: 35px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 32px;
    }
  }

  p {
    @include font($montserrat, 16px, 20px, 400, normal);
    padding-bottom: 5px;
    letter-spacing: 0.83px;

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 19px);
      letter-spacing: 0.6px;
      text-align: left;
    }
  }
}

.team__coaches {
  position: absolute;
  width: 586px;
  right: -53px;

  @media (max-width: $tablet-width) {
    left: 50%;
    transform: translateX(-51%);
    top: -47px;
  }

  @media (max-width: $mobile-width) {
    top: -59px;
  }

  img {
    position: absolute;
    top: 137px;
    left: 7px;

    @media (max-width: $tablet-width) {
      left: 32px;
    }

    @media (max-width: $mobile-width) {
      width: 320px;
      height: 364px;
      left: 139px;
    }
  }
}
