// Color

$main-black: #000000;
$main-white: #ffffff;
$vivid-yellow: #c7e80a;
$btn-more: #bac625;
$hover-btn: #e3fd50;
$mostly-black: #242222;
$footer-bcg: #432545;

// Radius

$btn-radius: 30px;
$btn-more-radius: 20px;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$montserrat: "Montserrat", "Arial", sans-serif;
$noto: "Noto Sans", "Verdana", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
